In [1]:
#Answer no 1

In [3]:
#read_csv(): This function is used to read data from a CSV file and create a DataFrame.
#import pandas as pd

#df = pd.read_csv('data.csv')
#print(df)

In [11]:
#head(): This function is used to display the first few rows of a DataFrame.

data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)


print(df.head(3))

      Name  Age      City
0     John   25  New York
1     Emma   28    London
2  Michael   32     Paris

In [4]:
#describe(): This function provides summary statistics of numerical columns in a DataFrame.
#data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
#df = pd.DataFrame(data)
#print(df.describe())

IndentationError: unexpected indent (3365782380.py, line 3)

In [6]:
#to_csv(): This function is used to write the contents of a DataFrame to a CSV file.

data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Write DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [ ]:
#groupby(): This function is used for grouping data based on a specific column and performing aggregations.
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 32, 29, 35],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Group data by 'City' and calculate the average age
grouped = df.groupby('City').mean()
print(grouped)

In [1]:
#Answer no 2


def reindex_with_increment(df):
    df = df.reset_index(drop=True)
    df.index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    return df

In [2]:
#Answer no 3

In [3]:


def calculate_sum(df):
    values_column = df['Values']
    sum_of_first_three = sum(values_column.head(3))
    print("Sum of the first three values:", sum_of_first_three)

In [4]:
#Answer no 4

In [6]:


def add_word_count_column(df):
    df['Word_Count'] = df['Text'].str.split().str.len()
    return df

In [7]:
#Answer no 5

In [8]:
#DataFrame.size() =====is a method that returns the total number of elements in a DataFrame, which is the product of the number of rows and columns.
#It provides the count of all elements, including NaN or missing values, in the DataFrame.
#The returned value is an integer representing the size of the DataFrame

In [9]:
#DataFrame.shape is an attribute that returns a tuple representing the dimensions of the DataFrame.
#It provides the number of rows and columns in the DataFrame.
#The returned value is a tuple in the format (number of rows, number of columns).

In [11]:
#Answer no 6 
#pandas.read_excel()

In [12]:
#answer no 7

In [17]:
def exct_username(df):
    df['Usernmae']= df['Enmail'].str.split('@').str[0]
    return df

In [18]:
#Answer no 8

In [19]:


def filter_dataframe(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [20]:
#Answer no 9

In [21]:


def calculate_stats(df):
    values_column = df['Values']
    mean = values_column.mean()
    median = values_column.median()
    std_dev = values_column.std()
    
    return mean, median, std_dev

In [22]:
#Answer no 10

In [23]:

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [24]:
#answer no 11

In [25]:

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

In [26]:
#anser no 12

In [ ]:

def filter_by_date(df):
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df[mask]
    return selected_rows